<div class="jumbotron">
  <h1>MediaDash</h1>
  <p class="lead">
    LiveStream your social media.
  </p>
  <form class="form-inline" role="form">
    <div class="col-xl-6" >
      <div class="input-append inputlg">
        <i class="icon-search"></i>
        <input type="text"
        class="form-control inputlg" 
        placeholder="#AmazeBalls"
        name="hashtag" id="hashtag" ng-model="hashtag" />
      </div>
    </div>
  </form>
</div>

<div class="row marketing">
  <h3>Events</h3>
  <p>
    Celebrate the social media chatter at your event!
  </p>

  <h3>Venues</h3>
  <p>
    Engage customers in a conversation centered on your venue! 
  </p>
</div>
